<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <div>
    <div>
    {{name}}
    </div>
    <div class="mat-caption">
      {{jobTitle}}
    </div>
  </div>
  <span class="example-fill-remaining-space"></span>
  <div>
    <div class="mat-caption" *ngFor="let phone of phones">
      <mat-icon style="font-size: 18px">
        phone
      </mat-icon>
      <span>
      {{phone}}
      </span>
    </div>
    <div class="mat-caption">
      <mat-icon style="font-size: 18px">
        email
      </mat-icon>
      <a href="mailto:{{email}}" class="mat-body">{{email}}</a>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

