<!--The content below is only a placeholder and can be replaced.-->
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">{{name}}</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['home']">Home</a>
      <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['personal']">C'est moi</a>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<app-footer></app-footer>